@model List<TaskList.Modelo.Entidades.ItemTask>

@{
    ViewBag.Title = "TaskList";
}

<div class="container">
    <form action="#">
        <div class="panel panel-body hoverable" id="formulario">
            <div class="progress deep-purple lighten-3" style="display: none;">
                <div class="indeterminate deep-purple darken-3"></div>
            </div>

            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="task" type="text" class="validate">
                        <label class="active" for="task">Task</label>
                        <span class="helper-text" data-error="Obrigatório" data-success=""></span>
                        <a class="btn-floating btn-small waves-effect waves-light tooltipped" id="btn_add" data-position="left" data-tooltip="Adicionar task">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                </div>
                <div class="row" id="task_list">
                    @foreach (TaskList.Modelo.Entidades.ItemTask task in Model)
                    {
                        <div class="row task">
                            <div class="col s12">
                                <label>
                                    <input type="checkbox" @(task.Status == TaskList.Modelo.Enumeradores.StatusTask.Concluido ? "checked" : "") />
                                    <span>@task.Titulo</span>
                                    <a class="btn-floating btn-small waves-effect waves-light red tooltipped remove-task right" data-position="left" data-tooltip="Cancelar task">
                                        <i class="material-icons">remove</i>
                                    </a>
                                    <input type="hidden" name="Task[@Model.ToList().IndexOf(task)].Titulo" value="@task.Titulo" />
                                    <input type="hidden" name="Task[@Model.ToList().IndexOf(task)].Id" value="@task.Id" />
                                    <input type="hidden" data-status name="Task[@Model.ToList().IndexOf(task)].Status" value="@task.Status" />
                                </label>
                            </div>
                        </div>
                    }
                </div>
                <div class="row" id="btns">
                    <div class="col s6">
                        <a id="btn_confirmar" class="waves-effect waves-light btn-large cyan darken-1 scale-transition scale-out" style="margin: 15px;">Confirmar</a>
                    </div>
                    <div class="col s6">
                        <a id="btn_cancelar" class="waves-effect waves-light btn-large red darken-1 scale-transition scale-out right" style="margin: 15px;">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="~/Scripts/itemTask.js"></script>